<template lang="pug">
  v-list-item(:to="`/quest/${id}`")
    v-list-item-avatar.mx-auto.mr-2.mr-md-4(:size="$size()", v-if="character")
      CharaIcon(:id="quest.section", :size="$size()")
    v-list-item-avatar.mx-auto.mr-2.mr-md-4(color="primary", :size="$size(32)", v-else)
      span.white--text {{quest.section}}
    
    v-list-item-content.mr-auto.ml-0
      v-list-item-title
        span(v-if="quest.name") {{quest.name}}
        span(v-else) {{$t('Quest')}} {{id}}
        .float-right(v-if="quest.stamina && quest.stamina!=-1")
          v-avatar(:size="$size()/2.5", tile)
            v-img(:src="$asset.commonuiatlas.format('StaminaIcon')+'.png'", contain)
          small  {{quest.stamina}}
        .float-right(v-if="quest.exId2 && quest.exId2!=-1")
          v-avatar(:size="$size()/2.5")
            v-img(:src="$asset.itemicon.format(quest.exId2)+'.jpg'")
          small(v-if="quest.ex2Amount!=1")  {{quest.ex2Amount}}
      v-list-item-subtitle.d-flex.align-center.pt-2
        span.hidden-xs-only.pr-2 {{$t('Enemies')}}
        .d-flex.flex-row(:icon="$size(32)")
          .mr-2(v-for="enemyResourceID in quest.enemyResourceIDs", :key="`questlibrary-quest-enemy-${enemyResourceID}`")
            v-avatar(:size="$size(32)")
              v-img(:src="$asset.ordericon.format(enemyResourceID)+'.jpg'")
      v-list-item-subtitle.d-flex.align-center.pt-2(v-if="quest.items.length")
        span.hidden-xs-only.pr-2 {{$t('Drops')}}
        .d-flex.flex-row.flex-wrap(:icon="$size(32)", style="")
          .mr-2.d-flex(v-for="item in sortedItems", :key="`questlibrary-quest-item-${item.itemID}`")
            v-avatar.mr-1(:size="$size(32)")
              v-img(:src="$asset.itemicon.format(item.itemID)+'.jpg'")
            .d-flex.justify-center.flex-column
              .caption(style="line-height: 1rem")
                template(v-if="$s.questDropsGrouped")
                  template(v-if="isEventBonus(item.itemID)")
                    span ({{parseFloat((item.itemNum/item.itemGroups).toFixed(2))}}+B)<br>×{{item.itemGroups}}
                  template(v-else)
                    span {{parseFloat((item.itemNum/item.itemGroups).toFixed(2))}}×{{item.itemGroups}}
                template(v-else)
                  span {{item.itemNum}}
                  span(v-if="isEventBonus(item.itemID)")  + <br>{{item.itemGroups}} B
      //- p {{quest}}

</template>

<script>
export default {
  name: 'Quest',
  props: ['id'],
  computed: {
    quest() {
      return this.$db.QuestList[this.id];
    },
    character() {
      return this.$db.CharacterList[this.quest.section];
    },
    sortedItems() {
      return this.quest.items.slice().sort((item1, item2) => - (
        this.$db.ItemList[item1.itemID].type - this.$db.ItemList[item2.itemID].type
      ));
    }
  },
  methods: {
    isEventBonus(itemID) {
      return this.$db.ItemList[itemID].isEventBonus;
    },
  }
};
</script>