<template lang="pug">
  //- .py-4.text-center(v-if="loading")
  //-   v-progress-circular(indeterminate=true, color="primary")
  .pa-4(v-if="!character")
    KeyValue(:k="$t('No Character')")
  div(v-else)
    p.display.px-4.primary--text {{id}}

    v-row(no-gutters)
      v-col(cols=12, sm=6)
        v-select.px-4(v-model="poseID", :label="$t('Pose')", dense
          :items="poses.map((item, i) => ({ text: i, value: i }))")
      v-col(cols=12, sm=6, style="position: relative")
        v-select.px-4(v-model="faceID", :label="$t('Face')", dense
          :items="faces.map((item, i) => ({ text: `${item.key[2]}`, value: i }))")
        v-overlay(absolute, :value="loading", opacity=0)
          v-progress-circular(indeterminate=true, color="primary")

    div.px-4.float-right
      v-btn.ml-2(icon, @click="scale*=0.8"): v-icon mdi-magnify-minus
      v-btn.ml-2(icon, @click="scale=1"): v-icon mdi-magnify-close
      v-btn.ml-2(icon, @click="scale/=0.8"): v-icon mdi-magnify-plus

    div(style="width: 100%; overflow: hidden; position: relative"
      :style="{height: scale * 1200 + 'px'}")

      div(style="position: absolute; left: 50%; transform: translateX(-50%)")
        div(:style="{transform: `scale(${scale}) translateY(${(scale-1)*50/scale}%)`}", :key="id")
          .d-inline-block(v-if="pose.m_FaceReferenceImageType==0")
            div(style="position: relative")
              div(:style="style")
                v-img(:src="src.face", style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;")
            v-img(:src="src.standpic")
          .d-inline-block(v-else-if="pose.m_FaceReferenceImageType==1")
            v-img(:src="src.face")
</template>

<script>
import axios from 'axios';

export default {
  name: 'Standpic',
  props: ['id'],
  data() {
    return {
      index: [],
      loading: 0,
      poseID: 0,
      faceID: 0,
      scale: 1,
    };
  },
  computed: {
    character() {
      return this.$db.ADVCharacterListArray.filter(character =>
        character.m_ResourceBaseName.toLowerCase() == this.id.toLowerCase())[0];
    },
    poses() {
      return this.character.m_Datas;
    },
    faces() {
      return this.index.filter(item => item.key[0] == 'face' && item.key[1] == this.poseID);
    },
    pose() {
      return this.poses[this.poseID];
    },
    face() {
      return this.faces[this.faceID];
    },
    base() {
      return this.id.toLowerCase();
    },
    faceContainerSize: () => 270,
    src() {
      return {
        standpic: this.$asset.standpic.format(
          this.base,
          `${this.base}_standpic_${this.poseID}`
        ) + '.png',
        face: this.$asset.standpic.format(
          this.base,
          `${this.base}_face_${this.poseID}_${this.face && this.face.key[2]}`
        ) + '.png',
      };
    },
    style() {
      return {
        'width': this.faceContainerSize + 'px',
        'height': this.faceContainerSize + 'px',
        'position': 'absolute',
        'left': this.pose.m_FaceX - this.faceContainerSize / 2 + 'px',
        'top': this.pose.m_FaceY - this.faceContainerSize / 2 + 'px',
      };
    }
  },
  methods: {
    load() {
      this.loading += 1;
      const loading = this.loading;
      axios
        .get(this.$asset.standpic.format(this.base, 'index.json'))
        .then(response => {
          if (loading != this.loading) {
            return;
          }
          this.index = response.data.map(item => {
            let key = item.name.split(this.base)[1].split('_').slice(1);
            item.key = key;
            return item;
          });
          this.loading = 0;
        });
    }
  },
  watch: {
    id() {
      this.load();
    }
  },
  mounted() {
    this.load();
  },
};
</script>