<template lang="pug">
  div(v-if="$isMoe()")
    InFeedAdsense(
      data-ad-layout-key="-fg+6d-1m-er+wm",
      data-ad-client="ca-pub-7892650861805139",
      data-ad-slot="3136351268")
  v-list-item(v-else-if="$isDev()", @click="")
    v-list-item-content
      v-list-item-subtitle.text-center.my-8 Ad
</template>

<script>
export default {
  name: 'Ad',
};
</script>