<template lang="pug">
  div
    v-divider.mb-4
    p.title.px-4.primary--text {{$t('Flavor Text')}}
    p.d-flex.px-4
      Voice.mr-2.mr-md-4(:name="name", cue="voice_flavor_0")
      span(v-html="flavorText", :style="{'font-size': $vuetify.breakpoint.xsOnly? '70%': null}")
</template>

<script>
export default {
  name: 'Flavor',
  props: ['id'],
  computed: {
    flavor() {
      return this.$db.CharacterFlavorText[this.id];
    },
    flavorText() {
      return this.flavor.m_FlavorText
        .replace(/<wait=.*?>/g, '')
        .replace(/<page>/g, '')
        .replace(/\n/g, '<br>');
    },
    character() { return this.$db.CharacterList[this.id]; },
    index() {
      return 'ABCDEFG'[this.$db.CharacterListArray
        .filter(character =>
          character.m_CharaID % 10 == 0 &&
          character.m_NamedType == this.character.m_NamedType &&
          character.m_Rare == this.character.m_Rare &&
          character.m_Class == this.character.m_Class)
        .map(character => character.m_CharaID).indexOf(this.character.m_CharaID)];
    },
    class() {
      return ['Fighter', 'Magician', 'Priest', 'Knight', 'Alchemist'][this.character.m_Class];
    },
    name() {
      return `${this.$db.NamedList[this.character.m_NamedType].m_ResouceBaseName}_${this.class}${this.character.m_Rare + 1}_${this.index}`;
    },
  }
};
</script>