<template lang="pug">
  .pa-4(v-if="!quest")
    KeyValue(:k="$t('No Quest')")

  div(v-else)
    p.display.px-4.primary--text
      span(v-if="quest.name") {{quest.name}}
      span(v-else) {{$t('Quest')}} {{id}}

    .float-right.pr-4(v-if="quest.stamina && quest.stamina!=-1")
      v-avatar(:size="$size()/2.5", tile)
        v-img(:src="$asset.commonuiatlas.format('StaminaIcon')+'.png'", contain)
      small  {{quest.stamina}}
    .float-right.pr-4(v-if="quest.exId2 && quest.exId2!=-1")
      v-avatar(:size="$size()/2.5")
        v-img(:src="$asset.itemicon.format(quest.exId2)+'.jpg'")
      small(v-if="quest.ex2Amount!=1")  {{quest.ex2Amount}}

    p.px-4.primary--text
      span(v-if="$db.QuestLibraryList[quest.questLibraryID].category==5")
        | {{$name($db.CharacterList[quest.section].m_Name)}} — {{$t('Quest Library Categories.5')}}
      span(v-else-if="$db.QuestLibraryList[quest.questLibraryID].category==6")
        | {{$t('Section').format(quest.section)}} — {{$t('Quest Library Categories.6')}}
      span(v-else)
        | {{$t('Section').format(quest.section)}} — {{$name($db.QuestLibraryList[quest.questLibraryID].name)}}

    ItemList(:items="items", :amounts="amounts", :gold="quest.rewardMoney")
    .px-4.mb-4
      KeyValue(:k="$t('User Exp')", :v="quest.rewardUserExp", v-if="quest.rewardUserExp")
      KeyValue(:k="$t('Character Exp')", :v="quest.rewardCharacterExp", v-if="quest.rewardCharacterExp")
      KeyValue(:k="$t('Friendship Exp')", :v="quest.rewardFriendshipExp", v-if="quest.rewardFriendshipExp")

    template(v-for="wave, i in quest.waveIDs")
      v-divider.mb-4
      p.title.px-4.primary--text {{$t('Wave')}} {{i+1}}
      Wave(:key="`quest-wave-${wave}`", :id="wave")

</template>

<script>
import Wave from './Wave';

export default {
  name: 'Quest',
  props: ['id'],
  components: { Wave },
  computed: {
    quest() {
      return this.$db.QuestList[this.id];
    },
    sortedItems() {
      return this.quest.items.slice().sort((item1, item2) => - (
        this.$db.ItemList[item1.itemID].type - this.$db.ItemList[item2.itemID].type
      ));
    },
    items() {
      return this.sortedItems.map(item => item.itemID);
    },
    amounts() {
      return this.sortedItems.map(item => [
        `${item.itemNum}`,
        `${item.itemNum} +<br>${item.itemGroups} B`, // bonus
        `${parseFloat((item.itemNum / item.itemGroups).toFixed(2))}×${item.itemGroups}`, // grouped
        `(${parseFloat((item.itemNum / item.itemGroups).toFixed(2))}+B)<br>×${item.itemGroups}`, // bonus grouped
      ][this.isEventBonus(item.itemID) + this.$s.questDropsGrouped * 2]);
    }
  },
  methods: {
    isEventBonus(itemID) {
      return this.$db.ItemList[itemID].isEventBonus;
    },
  }
};
</script>